.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header_left{
    flex: 0.5;
    min-width: 90px;
    background-color: white;
    color: gray;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header_left > input {
    border:none;
    width: 100%;
    outline: none;
}

.header-search{
    margin: 0px 10px;
}

.header_right{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    user-select: none;
    background-color: rgba(0,0,0,0.4);
    padding: 0px 15px;
    border-radius: 33px;
}

.header_right > h4{
    margin-left: 10px;
}
.signout{
    display: flex;
    align-items: center;
    position: absolute;
    top: 70px;
    right: 0px;
    background: #111 ;
    height: 50px;
    width: 150px;
    text-align: center;
    box-shadow: 0 0px 5px rgba(0,0,0,0.8);
}
.signout > p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    width: 100%;
    color: gray;
}
.signout > p:hover {
    color: white;
}
.signout > p > span {
    margin: 0px 5px;
    text-transform: capitalize;
}
